<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <context-param>
        <param-name>numAtividade</param-name>
        <param-value>4</param-value>
    </context-param>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.ufjf.dcc192.atividade4.MenuServlet</servlet-class>
        <init-param>
            <param-name>senha</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>saudacao</param-name>
            <param-value>Olá</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ErroJava</servlet-name>
        <servlet-class>com.ufjf.dcc192.atividade4.ErroJava</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErroJava</servlet-name>
        <url-pattern>/ErroJava</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erroJava.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/erroHtml.jsp</location>
    </error-page>
</web-app>
