<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <context-param>
        <param-name>assignmentNumber</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <param-name>loggedUsers</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>dcc192</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>java</param-value>
    </context-param>
    <filter>
        <filter-name>SessionManager</filter-name>
        <filter-class>com.ufjf.dcc192.atividade7.controller.SessionManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionManager</filter-name>
        <url-pattern>/erroHtml</url-pattern>
        <url-pattern>/erroJava</url-pattern>
        <url-pattern>/menu</url-pattern>
        <url-pattern>/welcome</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.ufjf.dcc192.atividade7.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erroHtml.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erroJava.jsp</location>
    </error-page>
</web-app>
